body {
  background-color: #F8F6F0;
  font-family: 'Sofia Sans', sans-serif;
  color: #212121;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}

ul.topnav a {float: right;}

ul.topnav a.nav-brand {
  float: left;
  color: #be3455;
  font-weight: bold;
  font-size: 2rem
}

ul.topnav a.right {float: right;}

ul.topnav a.active {
  color: #be3455;
  text-decoration: underline
}

ul.topnav li a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem
}

ul.topnav li a:hover {
  color: #d9627e
  
}

ul.topnav li a.right:hover {
  color: #d9627e
}

.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.bio-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

.header {
  color: #be3455;
}

.header:hover {
  color:#F8F6F0;
  background-color: #be3455;
  transition: 0.4s;
}

.intro-paragraph {
  font-family: 'Montserrat';
  font-size: 14px
}

.footer {
  width: 80%;
  font-family: monospace;
  margin: auto;
  text-align:center;
  margin-top: 4rem
}
