html,

body {
  background-color: #F8F6F0;
  font-family: 'Sofia Sans', sans-serif;
  color: #212121;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}

ul.topnav a {float: right;}

ul.topnav a.nav-brand {
  float: left;
  color: #be3455;
  font-weight: bold;
  font-size: 2rem
}

ul.topnav a.right {float: right;}

ul.topnav a.active {
  color: #be3455;
  text-decoration: underline
}

ul.topnav li a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem
}

ul.topnav li a:hover {
  color: #d9627e
  
}

ul.topnav li a.right:hover {
  color: #d9627e
}

.content-container {
  font-family: 'Montserrat';
}

.content-list {
  font-family: 'Montserrat';
}

.header {
  color: #be3455;
}

.header:hover {
  color:#F8F6F0;
  background-color: #be3455;
  transition: 0.4s;
}

.cheatsheet-container { 
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.css-transition-container { 
  display: flex;
  flex-wrap: wrap
}

.picture-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
}

.picture {
  width: 450px;
  height: 225px;
  border: 0.5px inset #212121;
  border-radius: 10px
}

.content-container {
  display: flex
}

.footer {
  width: 80%;
  font-family: monospace;
  margin: auto;
  text-align:center;
  margin-top: 4rem  
}

pre {
  width: 80%;
  margin: auto;
  font-family: monospace;
  background-color: #212121;
  border-radius: 25px;
  color: #F8F6F0;
  width: 110%
}

.code-comment {
  color: gray
}

.code-selector {
  color: #50fa7b
}

.code-property {
  color: #8be9fd
}

.code-value {
  color: #bd93f9
}

.code-extra {
  color: #ff79c6
}
